<% reviews.each do |review| %>
  <div class="flex shadow-lg mb-3 rounded-md border-gray-800 border ml-2 lg:w-full h-32">
    <div class="h-full my-auto">
      <%= link_to item_path(review.item) do %>
        <%= image_tag review.item.image.variant(resize: "600x600^", gravity: "center", crop: "600x600+0+0").processed, class: 'hover:opacity-75 h-full rounded' %>
      <% end %>
    </div>
    <div class="mt-3 ml-auto">
      <p class="font-bold mt-1 whitespace-nowrap text-center text-sm text-gray-300"><%= review.item.name %></p>
      <span class="flex mt-3" id="star2<%= review.id %>"></span>
      <p class="mb-2 text-gray-400 text-center mt-3"><%= review.rate %></p>
    </div>
    <p class="lg:w-96 text-gray-400 text-sm line-clamp-4 mx-auto mt-3 lg:h-2/3  hover:opacity-75">
      <a class="js-modal-open" data-target="#modal_<%= review.id %>" href=""><%= review.comment %></a>
    </p>
    <% if current_user.admin || current_user == review.user %>
      <span class="p-3">
        <%= link_to edit_item_review_path(review.item.id, review), class: 'text-gray-400' do %>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 hover:opacity-75" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"><path stroke-linecap="round" stroke-linejoin="round" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" /></svg>
        <% end %>
      </span>
    <% end %>
  </div>

  <%= render 'modal', review: review %>

  <script>
  $('#star2<%= review.id %>').empty();
  $('#star2<%= review.id %>').raty({
    size      : 36,
    starOff   : '<%= asset_path('star-off.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    starOn    : '<%= asset_path('star-on.png') %>',
    half      : false,
    readOnly: true,
    score: <%= review.rate %>,
  });
  $(function(){
 $('.js-modal-open').on('click',function(){
   $($(this).data('target')).fadeIn();
   return false;
 });
 $('.js-modal-close').on('click',function(){
   $('.js-modal').fadeOut();
   return false;
 });
});
  </script>
<% end %>