<% reviews.each do |review| %>
  <div class="flex shadow-lg mb-3 rounded-md border-gray-900 border ml-2">
    <div class="h-1/2 my-auto">
      <%= link_to item_path(review.item) do %>
        <div><%= image_tag review.item.image.variant(resize: "110x110^", gravity: "center", crop: "110x110+0+0").processed, class: 'hover:opacity-75 h-full rounded' %></div>
      <% end %>
    </div>
    <div class="mt-3 ml-auto">
      <p class="font-bold mt-1 whitespace-nowrap text-center text-sm text-gray-300"><%= review.item.name %></p>
      <span class="flex mt-3" id="star2<%= review.id %>"></span>
      <p class="mb-2 text-gray-400 text-center"><%= review.rate %></p>
    </div>
    <p class="w-96 text-gray-400 text-sm line-clamp-4 mx-auto mt-3 h-full hover:opacity-75">
      <a class="js-modal-open" data-target="#modal_<%= review.id %>" href=""><%= review.comment %></a>
    </p>
    <% if current_user.admin || current_user == review.user %>
      <span class="ml-auto p-3"><%= link_to "編集",edit_item_review_path(review.item.id, review), class: 'text-gray-400 hover:opacity-75' %></span>
    <% end %>
  </div>

  <%= render 'modal', review: review %>

  <script>
  $('#star2<%= review.id %>').empty();
  $('#star2<%= review.id %>').raty({
    size      : 36,
    starOff   : '<%= asset_path('star-off.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    starOn    : '<%= asset_path('star-on.png') %>',
    half      : false,
    readOnly: true,
    score: <%= review.rate %>,
  });
  $(function(){
 $('.js-modal-open').on('click',function(){
   $($(this).data('target')).fadeIn();
   return false;
 });
 $('.js-modal-close').on('click',function(){
   $('.js-modal').fadeOut();
   return false;
 });
});
  </script>
<% end %>