<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div>
        <%= form_with model: @user, local: true do |f| %>
          <%= f.label :"name" %>
          <%= f.text_field :name, class: 'form-control w-50' %><br>
          <%= f.label :profileimage %><br>
          <%= image_tag @user.profile_image.variant(resize: "200x200", crop: "200x200+0+0").processed, class: 'rounded-circle mr-5 mt-3' %>
          <%= f.file_field :profile_image %><br>
          <p class="text-left mt-5"><%= f.submit "変更", class: 'btn btn-outline-info' %></p>
      <% end %>
      </div>
    </div>
  </div>
</div>