<div class="container mt-5 mx-auto">
    <div class="grid">
      <div class="mx-auto">
        <%= form_with model: @user, local: true do |f| %>
          <%= f.label :"name", class: 'text-gray-400' %>
          <%= f.text_field :name, class: 'bg-gray-100 border border-gray-200 rounded text-gray-800 text-sm focus:ring-pur1 focus:border-pur1 block w-full p-2 mt-1' %><br>
          <%= f.label :profileimage %><br>
          <%= image_tag @user.profile_image.variant(resize: "300x300^",gravity: "center", crop: "300x300+0+0").processed, class: 'rounded-full mr-5 mt-3' %>
          <div class="mt-10"><%= f.file_field :profile_image, accept: "image/*" %></div>
          <button class="mt-10 text-center"><%= f.submit "変更", class: 'bg-pur1 text-white px-4 py-2 rounded-lg hover:bg-purple-700' %></button>
      <% end %>
      </div>
    </div>
  </div>
</div>