<div class="container mx-auto mt-5 mb-5">
  <div class="flex w-full flex-wrap gap-6 ml-10">
    <% @favorite_items.each do |item| %>
      <div class="bg-twibg shadow-lg rounded-md">
        <%= link_to item_path(item) do %>
          <%= image_tag item.image.variant(resize: "200x200^", gravity: "center", crop: "200x200+0+0").processed, class: 'hover:opacity-75' %>
        <% end %>
        <div class="py-4 text-sm text-center mt-2 relative">
          <span class="text-gray-300"><%= item.name %></span>
          <% if current_user == @user %>
            <span class="absolute top-1 right-2" id="b_btn<%= item.id %>">
              <%= render 'b_btn',item: item %>
            </span>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>