<div class="container mx-auto sm:mt-5 sm:mb-5">
  <div class="flex w-full flex-wrap gap-6 justify-around ">
    <% @favorite_items.each do |item| %>
      <div class="bg-twibg shadow-lg rounded-md w-1/6 h-1/6">
        <%= link_to item_path(item), data: {"turbolinks" => false} do %>
          <%= image_tag item.image.variant(resize: "600x600^", gravity: "center", crop: "600x600+0+0").processed, class: 'hover:opacity-75 rounded h-full' %>
        <% end %>
        <div class="py-4 text-sm text-center mt-2 relative">
          <%= link_to item_path(item), data: {"turbolinks" => false} do %>
           <span class="text-gray-300 hover:opacity-75"><%= item.name %></span>
          <% end %>
          <% if current_user == @user %>
            <span class="absolute top-1 right-2" id="b_btn<%= item.id %>">
              <%= render 'b_btn',item: item %>
            </span>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="sm:mt-5 lg:mt-10"><%= paginate @favorite_items %></div>
</div>