<div class="container mx-auto mt-5">
    <div class="grid grid-cols-3 grid-flow-col">
      <div class="col-span-1">
        <%= image_tag @user.get_profile_image(200,200), class: 'rounded-full mx-auto' %>
          <p class="text-center text-pur1 mt-1"><%= @user.name %></p>
          <% if current_user == @user %>
            <p class="text-center text-pur1 hover:text-purple-800 mt-10"><%= link_to "プロフィール変更", edit_user_path(@user) %></p>
            <p class="text-center text-pur1 hover:text-purple-800 mt-3">
              <%= link_to "ブックマーク", favorites_user_path(@user) %>
            </p>
          <% end %>
      </div>
      <div class="col-span-2">
        <%= render 'reviews', reviews: @reviews %>
      </div>
    </div>
  </div>
</div>