<div class="container mt-5 mb-5 mx-auto">
  <div class="grid grid-rows-2 h-72">
    <div class="col-span-1 row-span-2 row-start-2 w-80 h-96 mt-32">
      <%= form_with scope: :search, url: filter_path, method: :get, local: true do |f| %>
        <% @categories.each do |category| %>
          <div>
            <%= f.label category.name %>
            <%= f.check_box :category_ids,{ multiple: true, include_hidden: false },category.id %>
          </div>
        <% end %>
        <% @makers.each do |maker| %>
          <div>
            <%= f.label maker.name %>
            <%= f.check_box :maker_ids,{ multiple: true, include_hidden: false },maker.id %>
          </div>
        <% end %>
        <%= f.submit "検索" %>
      <% end %>
    </div>
    <div class="col-start-1 col-end-3 row-start-1 mt-5 ml-7 text-center">
      <p class="text-purple-300 text-3xl h-32 mt-5 col-start-2">Result</p>
    </div>
    <div class="col-start-2 col-end-3 flex">
      <div class="flex w-full flex-wrap gap-6">
        <% if @items.exists? %>
          <% @items.each do |item| %>
            <div class="border shadow-lg rounded-md">
              <%= link_to item_path(item) do %>
                <%= image_tag item.image.variant(resize: "200x200^", gravity: "center", crop: "200x200+0+0").processed, class: 'hover:opacity-75' %>
              <% end %>
              <div class="py-4 text-sm text-center mt-2">
                <span class="text-gray-500"><%= item.name %></span>
              </div>
            </div>
          <% end %>
        <% else %>
          <p class="text-center text-bold text-7xl">見つかりませんでした</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
