 <p class="flex mt-7 mb-3 justify-center" id="star3"></p>
<script>
  $('#star3').empty();
  $('#star3').raty({
    size      : 36,
    starOff   : '<%= asset_path('star-off.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    starOn    : '<%= asset_path('star-on.png') %>',
    half      : false,
    readOnly: true,
    score: <%= average || 0 %>,
  });
</script>
<p class="mb-3 text-gray-400"><%= (average).to_f.round(1) %></p>