 <div class="flex justify-center items-center">
    <span class="flex justify-center my-3 mr-1" id="star3"></span>
    <div class="text-gray-300 opacity-25">(<%= review_count %>)</div>
 </div>
<script>
  $('#star3').empty();
  $('#star3').raty({
    size      : 36,
    starOff   : '<%= asset_path('star-off.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    starOn    : '<%= asset_path('star-on.png') %>',
    half      : false,
    readOnly: true,
    score: <%= average || 0 %>,
  });
</script>
<p class="mb-3 text-gray-300 opacity-75"><%= average.to_f.round(1) %></p>