<div class="rounded-md xs:pb-3 pt-3 bg-twibg xs:w-72 lg:w-96 h-full" id="review_form">
  <div class="my-auto">
    <%= form_with model: [item,review], local: true do |f| %>
      <div class="text-center p-3"><%= f.text_area :comment, placeholder: "レビュー", class: 'xs:w-full sm:w-4/5 xs:h-40 md:h-60 p-2 bg-gray-700 text-gray-200 text-sm focus:ring-4 focus:ring-purple-400 duration-300 rounded-md placeholder-gray-400 placeholder-opacity-50' %></div>
      <div id="star1" class="flex justify-center lg:mt-3">
        <%= f.label :rate,'評価 '%>
      </div>
      <script>
      $('#star1').empty();
        $('#star1').raty({
          size     : 36,
          starOff:  '<%= asset_path('star-off.png') %>',
          starOn: '<%= asset_path('star-on.png') %>',
          starHalf: '<%= asset_path('star-half.png') %>',
          scoreName: 'review[rate]',
          half: false,
        });
      </script>
      <div class="text-center mt-5 w-full">
        <%= button_tag(type: "submit", class: 'w-2/3') do %>
          <div class="<%= btn %> lg:mt-3"><i class="fas fa-paper-plane"></i></div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>