<% reviews.each do |review| %>
  <div class="flex border border-gray-900 shadow-md mb-3 rounded-md p-5 h-32 lg:w-3/5 mx-auto">
    <div class="h-full my-auto">
      <%= link_to user_path(review.user) do %>
        <%= image_tag review.user.get_profile_image(700,700), class: 'h-2/3 rounded-full hover:opacity-75 bg-white' %>
      <% end %>
      <p class="font-bold mt-2 whitespace-nowrap text-center text-gray-400"><%= review.user.name %></p>
    </div>
    <div class="mt-3 ml-auto">
      <span class="flex pl-5 star2<%= review.id %>"></span>
    </div>
    <p class="mt-3 ml-2 text-gray-400 px-3"><%= review.rate %></p>
    <p class="w-96 text-sm text-gray-400 line-clamp-4 mx-auto mt-3">
       <a class="js-modal-open px-3 hover:opacity-75" data-target="#modal_<%= review.id %>" href=""><%= review.comment %></a>
    </p>
    <div class="h-full w-20 text-right flex flex-col">
      <% if current_user.admin || current_user == review.user %>
        <%= link_to edit_item_review_path(review.item.id, review), class: 'text-gray-400' do %>
          <i class="fas fa-edit hover:opacity-75"></i>
        <% end %>
      <% end %>
      <div id="good_btn<%= review.id %>" class="mt-auto">
        <%= render '/items/good_btn', review: review %>
      </div>
    </div>
  </div>
  <script>
    $('.star2<%= review.id %>').empty();
    $('.star2<%= review.id %>').raty({
      size      : 36,
      starOff   : '<%= asset_path('star-off.png') %>',
      starHalf: '<%= asset_path('star-half.png') %>',
      starOn    : '<%= asset_path('star-on.png') %>',
      half      : false,
      readOnly: true,
      score: <%= review.rate %>,
    });
    $(function(){
     $('.js-modal-open').on('click',function(){
       $($(this).data('target')).fadeIn();
       return false;
     });
     $('.js-modal-close').on('click',function(){
       $('.js-modal').fadeOut();
       return false;
     });
    });
  </script>
  <script>
    let count = 0;
    $(window).on('scroll', function() {
      scrollHeight = $(document).height();
      scrollPosition = $(window).height() + $(window).scrollTop();
      if ( (scrollHeight - scrollPosition) / scrollHeight <= 0.05) {
        $('.jscroll').jscroll({
          loadingHtml: '<div class="flex items-center justify-center"><svg width="24px" height="24px" class="animate-spin viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path opacity="0.2" fill-rule="evenodd" clip-rule="evenodd" d="M12 19C15.866 19 19 15.866 19 12C19 8.13401 15.866 5 12 5C8.13401 5 5 8.13401 5 12C5 15.866 8.13401 19 12 19ZM12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z" fill="pink"/><path d="M2 12C2 6.47715 6.47715 2 12 2V5C8.13401 5 5 8.13401 5 12H2Z" fill="pink"/></svg></div>',
          contentSelector: '.scroll-list',
          nextSelector: 'span.next:last a',
          callback: function(){
            count = count + 1;
            //var all_reviews = gon.reviews;
            const range = (start, end) => [...Array(end + 1).keys()].slice(start);
            var min =  Number(count + "0");
            var max = min + 9

            $.each(range(min, max),function(index,num){
              let str = ".star2" + gon.reviews[num].id
              $(str).raty({
                size      : 36,
                starOff   : '<%= asset_path('star-off.png') %>',
                starHalf: '<%= asset_path('star-half.png') %>',
                starOn    : '<%= asset_path('star-on.png') %>',
                half      : false,
                readOnly: true,
                score: gon.reviews[num].rate,
              });
            });
            $(function(){
              $('.js-modal-open').on('click',function(){
                $($(this).data('target')).fadeIn();
                return false;
              });
              $('.js-modal-close').on('click',function(){
                $('.js-modal').fadeOut();
                return false;
              });
            });
          }
        });
      }
    });
  </script>
  <div class="w-full"><%= render '/items/modal', review: review %></div>
<% end %>
