<div class="container mt-5 mx-auto">
  <div class="text-center text-gray-400">
    <%= form_with model: @item, local: true do |f| %>
      <%= f.label :"name" %>
      <%= f.text_field :name, class: 'bg-twibg text-gray-200 rounded text-sm focus:ring-4 focus:ring-purple-400 p-2 duration-300 mx-auto w-1/3 block mt-1' %><br>
      <%= f.label :image %><br>
      <%= image_tag @item.image.variant(resize: "300x300^",gravity: "center", crop: "300x300+0+0").processed, class: 'mx-auto mt-3' %>
      <div class="mt-10"><%= f.file_field :image, accept: "image/*" %></div>
        <%= button_tag(type: "submit") do %>
          <div class="<%= btn %> my-3 mx-3">変更</div>
        <% end %>
        <% if current_user.admin? %>
          <%= link_to item_path(@item),method: :delete, "data-confirm" => "本当に削除しますか？" do %>
            <button class="<%= btnd %> mx-3">削除</button>
           <% end %>
        <% end %>
    <% end %>
  </div>
</div>