<div class="container mt-5 mb-5 mx-auto">
  <%= render 'layouts/error', obj: @item %>
  <div class="grid grid-cols-2 gap-5">
    <div class="col-span-2">
      <div class="">
        <%= form_with model: @item, local: true do |f| %>
          <%= f.label :name, class: 'text-gray-400' %>
          <%= f.text_field :name, class: 'w-80  p-2 border text-purple-800 text-sm rounded-md placeholder-gray-400' %>
          <%= f.file_field :image %>
          <%= f.collection_select(:maker_id, @makers, :id, :name, {prompt: "--選択してください--"}, {class: 'border'}) %>
          <%= f.collection_select(:category_id, @categories, :id, :name, {prompt: "--選択してください--"}, {class: 'border'}) %>
          <%= f.submit '追加', class: 'px-4 py-2 bg-transparent text-pur1 border border-pur1 rounded hover:text-white hover:bg-pur1' %>
        <% end %>
      </div>
    </div>
    <div class="col-span-1">
        <%= form_with model: @maker, local: true do |f| %>
          <%= f.label :makername, class: 'text-gray-400' %>
          <%= f.text_field :name, class: 'w-80  p-2 border text-purple-800 text-sm rounded-md placeholder-gray-400' %>
          <%= f.submit "追加", class: 'px-4 py-2 bg-transparent text-pur1 border border-pur1 rounded hover:text-white hover:bg-pur1' %>
        <% end %>
    </div>
    <div class="col-span-1">
      <table class="table-auto">
        <thead>
          <tr></tr>
        </thead>
        <tbody>
          <% @makers.each do |maker| %>
            <tr>
              <td class="px-40">
                <%= link_to maker_path(maker), method: :delete, "data-confirm" => "削除しますか？", class: 'text-pur1 hover:text-purple:500' do %>
                  <%= maker.name %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-span-1">
        <%= form_with model: @category, local: true do |f| %>
          <%= f.label :category, class: 'text-gray-400' %>
          <%= f.text_field :name, class: 'w-80  p-2 border text-purple-800 text-sm rounded-md placeholder-gray-400' %>
          <%= f.submit "追加", class: 'px-4 py-2 bg-transparent text-pur1 border border-pur1 rounded hover:text-white hover:bg-pur1' %>
        <% end %>
    </div>
    <div class="col-span-1">
      <table class="table-auto">
        <thead>
          <tr></tr>
        </thead>
        <tbody>
          <% @categories.each do |category| %>
            <tr>
              <td class="px-40">
                <%= link_to category_path(category), method: :delete, "data-confirm" => "削除しますか？", class: 'text-pur1 hover:text-purple:500' do %>
                  <%= category.name %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
