<div class="flex xs:flex-wrap xs:w-4/5 lg:w-full mx-auto justify-center py-10 rounded-md gap-5">
  <div class="shadow-lg bg-twibg xs:w-52 sm:w-72 rounded-md">
    <%= image_tag @item.image.variant(resize: "800x800^", gravity: "center", crop: "800x800+0+0").processed, class: 'w-full rounded' %>
    <div class="relative text-center py-4">
      <p class="text-gray-300 mt-3 p-2 font-bold"><%= @item.name %></p>
      <div id="average"><%= render '/items/average', average: @average, review_count: @review_count %></div>
      <span id="favorite_btn<%= @item.id %>"><%= render '/items/favorite_btn', item: @item %></span>
      <% if current_user.admin? %>
        <%= link_to edit_item_path(@item), class: 'text-gray-400 absolute bottom-2 right-2' do %>
          <i class="fas fa-edit hover:opacity-75"></i>
        <% end %>
      <% end %>
    </div>
  </div>
  <div>
    <%= render 'form',item: @item, review: @review %>
  </div>
  <div class="px-10 flex flex-col gap-3 pb-5 pt-3 border-gray-600 border border-twibg rounded-md h-60">
    <p class="text-ratyyellow text-center font-semibold">評価別</p>
    <%= link_to item_path(@item,rate: "1") do %>
      <div class="flex justify-center hover:opacity-75" id="star11"></div>
    <% end %>
    <%= link_to item_path(@item,rate: "2") do %>
      <div class="flex justify-center hover:opacity-75" id="star12"></div>
    <% end %>
    <%= link_to item_path(@item,rate: "3") do %>
      <div class="flex justify-center hover:opacity-75" id="star13"></div>
    <% end %>
    <%= link_to item_path(@item,rate: "4") do %>
      <div class="flex justify-center hover:opacity-75" id="star14"></div>
    <% end %>
    <%= link_to item_path(@item,rate: "5") do %>
      <div class="flex justify-center hover:opacity-75" id="star15"></div>
    <% end %>
  </div>
</div>
<div class="scroll-list jscroll h-full pb-5">
  <div class="mt-5 mb-5 h-full reviews_ajax">
    <%= render '/items/reviews', reviews: @reviews %>
  </div>
  <div class=""><%= paginate @reviews %></div>
</div>


<script>
  $('#star11').empty();
  $('#star11').raty({
    size      : 36,
    starOff   : '<%= asset_path('star-off.png') %>',
    starOn    : '<%= asset_path('star-on.png') %>',
    half      : false,
    readOnly: true,
    score: 1,
  });
  $('#star12').empty();
  $('#star12').raty({
    size      : 36,
    starOff   : '<%= asset_path('star-off.png') %>',
    starOn    : '<%= asset_path('star-on.png') %>',
    half      : false,
    readOnly: true,
    score: 2,
  });
  $('#star13').empty();
  $('#star13').raty({
    size      : 36,
    starOff   : '<%= asset_path('star-off.png') %>',
    starOn    : '<%= asset_path('star-on.png') %>',
    half      : false,
    readOnly: true,
    score: 3,
  });
  $('#star14').empty();
  $('#star14').raty({
    size      : 36,
    starOff   : '<%= asset_path('star-off.png') %>',
    starOn    : '<%= asset_path('star-on.png') %>',
    half      : false,
    readOnly: true,
    score: 4,
  });
  $('#star15').empty();
  $('#star15').raty({
    size      : 36,
    starOff   : '<%= asset_path('star-off.png') %>',
    starOn    : '<%= asset_path('star-on.png') %>',
    half      : false,
    readOnly: true,
    score: 5,
  });

</script>

