<div class="container mx-auto mt-5 mb-5">
    <div class="grid grid-cols-7">
      <div class="col-span-2 mr-3 shadow-lg bg-twibg lg:h-3/4 rounded-md">
        <div class="">
          <%= image_tag @item.image.variant(resize: "250x250^", gravity: "center", crop: "250x250+0+0").processed, class: 'w-full rounded' %>
        </div>
        <div class="relative text-center">
          <p class=" text-gray-300 mt-3 font-bold"><%= @item.name %></p>
          <p class="flex mt-5 justify-center" id="star3"></p>
          <%= render 'average', average: @average %>
          <span id="favorite_btn<%= @item.id %>">
            <%= render 'favorite_btn', item: @item %>
          </span>
          <% if current_user.admin? %>
            <%= link_to "編集", edit_item_path(@item), class: 'text-gray-400 hover:opacity-75 absolute bottom-0 right-2' %>
          <% end %>
        </div>
        <%= render 'form',item: @item, review: @review %>
      </div>
      <div class="col-span-5" id="reviews_ajax">
        <%= render 'reviews', reviews: @reviews %>
      </div>
    </div>
  </div>
</div>