<div class="container mt-5 mb-5 mx-auto">
  <div class="grid grid-cols-2">
    <div class="col-span-1">
        <%= form_with model: @maker, local: true do |f| %>
          <%= f.label :makername, class: 'text-gray-400' %>
          <%= f.text_field :name, class: 'w-80  p-2 border text-purple-800 text-sm rounded-md placeholder-gray-400' %>
          <%= f.submit "追加", class: 'px-4 py-2 bg-transparent text-pur1 border border-pur1 rounded hover:text-white hover:bg-pur1' %>
        <% end %>
    </div>
    <div class="col-span-1">
      <table class="table-auto">
        <thead>
          <tr></tr>
        </thead>
        <tbody>
          <% @makers.each do |maker| %>
            <tr>
              <td class="px-40"><%= maker.name %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-span-1">
        <%= form_with model: @category,url: category_path, local: true do |f| %>
          <%= f.label :category, class: 'text-gray-400' %>
          <%= f.text_field :name, class: 'w-80  p-2 border text-purple-800 text-sm rounded-md placeholder-gray-400' %>
          <%= f.submit "追加", class: 'px-4 py-2 bg-transparent text-pur1 border border-pur1 rounded hover:text-white hover:bg-pur1' %>
        <% end %>
    </div>
  </div>
</div>