<nav class="flex items-center justify-between flex-wrap bg-gradient-to-r from-purple-400 to-pink-400 p-6">
    <div class="flex items-center flex-shrink-0 text-white mr-6">
      <%= link_to root_path do %>
        <span class="font-semibold text-xl tracking-tight">addevice</span>
      <% end %>
    </div>
    <div class="block lg:hidden">
      <button class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white">
      </button>
    </div>
    <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
      <div class="text-sm lg:flex-grow">
        <ul>
          <% if user_signed_in? && current_user.admin? %>
            <li class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4"><%= link_to " 一覧", items_path %></li>
            <li class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4"><%= link_to "アイテム登録", new_item_path %></li>
            <li class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4"><%= link_to "ユーザ一覧",users_path %></li>
            <li class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4"><%= link_to "マイページ",current_user %></li>
            <li class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4"><%= link_to "ログアウト",destroy_user_session_path, method: :delete %></li>
          <% elsif user_signed_in?  %>
            <li class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4"><%= link_to "一覧", items_path %></li>
            <li class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4"><%= link_to "マイページ",current_user %></li>
            <li class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4"><%= link_to "ログアウト",destroy_user_session_path, method: :delete %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
